*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca Variable', sans-serif;
}

/*Estilos del HEADER */


.hover-slide {
  transition: transform 0.3s ease;
 
}

header{
  top: 0;
  position: relative;
}

.navbar{
    background-color: #001330;
    font-size: 20px;

  }

  .nav-link{
    color: white;
  }

  .container-menu{
    margin: 10px;
    top: 0;
    display: flex;
    align-items: center;
  }

  .navbar-nav{
    display: flex;
    margin-right: auto;
  }

.inicioSesion{
  display: flex;
  padding-right: 12px;
  margin-left: auto;
  
}

.texto-fondo{
  font-size: 5em;
  width: 50%;
}

.parrafo-fondo{
  font-size: 2em;
  width: 40%;
}


/*Estilos MAIN y SECCION IMAGEN */

.text-center{
  margin-top: 2em;
}

.titulo-medic{
  padding: 0.2em;
}

.text-center h5{
  margin-bottom: 1em;
}

main.container {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }

.col {
  display: flex;
  justify-content: center;
}

  .card {
    width: 70%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .card-body{
    height: 10em;
  }
  
  .card-body i{
    margin-top: 0.1em;
    text-align: center;
  }

  .card-body-otro{
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .contenedor-boton{
    margin-top: 40px;
  }
  
.contenedor-titulo{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.titulo-medic{
  font-size: 3em;
}

  .contenedor-info{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .contenedor-servicios{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 50px;
  }

 

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; 
  }


  .hero-background {
    background-size: cover;
    background-position: center;
    height: 100%; 
  }
  
  .hero-content {
    display: flex;
    position: relative;
 top: 100px;
    font-size: 16px;  
  }

  .contenedor-titulo {
    margin: auto;
  }

  

  @media only screen and (max-width: 1024px) {
    
    .container{
     height: 105em;
    }
    
    .hero-background {
      background-size: cover;
      background-position: center;
      height: 60%;
    }

    .hero-content {
      display: flex;
      position: relative;
      font-size: 11px;  
    }

    .contenedor-titulo {
      margin: auto;
      display: flex;
      position: relative;
    }

    .contenedor-servicios {
      display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 250px;
      height: 370px;
      
    }

   .titulo-medic{
    
    justify-content: space-between;
    position: relative;
    bottom: 260px;
   
   }

   .subtitlo-medic{
    justify-content: space-between;
    position: relative;
    bottom: 260px;
    
   }

   .row{
     display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 250px;
      height: 370px;
      
   }

   .contenedor-boton{
    position: relative;
    bottom: 250px;
   }

   .footer-contenedor{
    margin: auto;
   }


   @media only screen and (max-width: 768px) {
    
    .container{
      height: 115em;
     }
   
    .hero-background {
      background-size: cover;
      background-position: center;
      height: 50%;
      
    }

    .hero-content {
      display: flex;
      position: relative;
      
      font-size: 8px;  
    }


    .menu {
      display: none;
    }

    .contenedor-titulo {
      margin: auto;
      display: flex;
      position: relative;
      bottom: 400px;
    }

    .contenedor-servicios {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      bottom: 370px;
      height: 340px;
      
     font-size: 14px;
    }
    
    .card-body-otro{
      
    }

    .titulo-medic{
    
      justify-content: space-between;
      position: relative;
      font-size: 50px;
      bottom: -40px;
  }

  .subtitlo-medic{
    justify-content: space-between;
    position: relative;
    bottom: -20px;
  
  }
  .row{
    display: flex;
     justify-content: space-between;
     position: relative;
     bottom: -20px;
    
  }

  .card{
    width: 120%;
    font-size: 15px;
  }

  .contenedor-boton{
   position: relative;
   bottom: -5px;
  }  

  .footer-center{
    display: flex;
    position: relative;
    left: 200px;
   }


   .footer-acerca-de-compañia {
    width: 50em;


}

}
@media only screen and (max-width: 425px) {
  
  .hero-content h5{
    max-width: 75%;
  }
  
  .hero-content h1,
  .hero-content h5 {
    padding: 0.1em; 
    display: inline-block; 
  }

  .navbar{
    display: flex;
    width: max-content;
  }
  
  .hero-background {
    background-position: left;
    width: 100%;
    height: 100%;
    
  }

  .hero-content {
    display: flex;
    position: relative;
    
  }

.texto-fondo{
  width: 60%;
}


  .parrafo-fondo{
    font-size: 30px;
  }
  
.boton-hero{
  
}

  .contenedor-titulo {
    margin: auto;
    display: flex;
    position: relative;
    bottom: 30px;
  }

  .contenedor-servicios {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    bottom: 30px;
    height: 340px;
    
   font-size: 14px;
  }
  
  

}
  }
