*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca Variable', sans-serif;
}

/*Estilos del HEADER */

.navbar{
    background-color: #0075fc;
  }

.container-menu{
    margin-left: 10px;
}


main.container {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Establece la altura al 100% de la ventana gráfica (viewport height) */
  }


  .hero-background {
    background-size: cover;
    background-position: center;
    height: 100%; /* Ajusta la altura al 100% */
  }
  
  .hero-content {
    max-width: 40%; /* Establece un ancho máximo para mantener la legibilidad */
  }
  
  .hero-content h5{
    max-width: 75%;
  }
  
  .hero-content h1,
  .hero-content h5 {
    
    padding: 0.1em; /* Ajusta según sea necesario */
    display: inline-block; /* Para que el fondo abarque solo el contenido del texto */
  }