html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.main {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 61%,
    rgba(9, 68, 121, 1) 80%,
    rgba(0, 54, 176, 1) 98%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 35%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card h2 {
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.login-form input {
  margin-bottom: 25px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
}

.login-form button {
  background-color: #1877f2;
  color: white;
  border-radius: 4px;
  padding: 15px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.login-form button:hover {
  background-color: white;
  color: #1877f2;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.register {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #98a2b3;
  width: 100%;
  justify-content: space-between;
}

.register a {
  color: #1877f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.register a:hover {
  text-decoration: underline;
}

/* Media queries */
@media (max-width: 768px) {
  .card {
    width: 80%;
    padding: 30px 15px;
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .login-form input {
    font-size: 0.9rem;
  }

  .login-form button {
    padding: 12px;
  }

  .register {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .register p,
  .register a {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding-top: 30px;
  }

  .card {
    width: 90%;
    padding: 20px 10px;
  }

  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .login-form input {
    font-size: 0.8rem;
  }

  .login-form button {
    padding: 10px;
    font-size: 0.8rem;
  }

  .register p,
  .register a {
    font-size: 0.8rem;
  }
}
