*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca Variable', sans-serif;
}

/*Estilos del HEADER */

.navbar{
  background-color: #001330;
  font-size: 20px;
  
}

.nav-link{
  color: white;
}

.container-menu{
  margin: 10px;
}

.navbar-nav{
  display: flex;
  margin-right: 66%;
  
}

.inicioSesion{
display: flex;

}

.texto-fondo{
font-size: 5em;
width: 50%;
}

.parrafo-fondo{
font-size: 2em;
width: 40%;
}


