html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 61%,
    rgba(9, 68, 121, 1) 80%,
    rgba(0, 54, 176, 1) 98%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  width: 90%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 45%;
}

.column label,
.column select,
.column input {
  margin-bottom: 15px;
}

.column input,
.column select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
}

.login-form button {
  background-color: #1877f2;
  color: white;
  border-radius: 4px;
  padding: 15px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.login-form button:hover {
  background-color: white;
  border: 1px solid #1877f2;
  color: #1877f2;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.register {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #98a2b3;
  justify-content: space-between;
  margin-top: 20px;
}

label[for="terminos"] {
  display: flex;
  align-items: center;
  font-weight: 700;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.login {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #98a2b3;
  justify-content: center;
  margin-top: 20px;
}

.login a {
  background: none;
  color: #1877f2;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.login a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .card {
    width: 95%;
    padding: 15px;
    margin: 25px;
  }

  .form {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .register,
  .login {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    padding: 10px;
  }

  .column label,
  .column select,
  .column input {
    margin-bottom: 10px;
  }

  .login-form button {
    padding: 10px;
  }
}
