html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

main {
  padding: 50px;
}

main h1 {
  margin-bottom: 30px;
}

.turnos-container {
  margin: auto;
  padding: 0px 200px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.flex div {
  width: 100%;
}

.button {
  background-color: #1877f2;
  color: white;
  border-radius: 4px;
  padding: 15px;
  border-color: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #1877f2;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #1877f2;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  width: 1150px;
  margin-bottom: 25px;
}

.time-slot {
  width: 70px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.available {
  background-color: #3bb143;
  cursor: pointer;
}

.available:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.unavailable {
  background-color: #cc0000;
  cursor: not-allowed;
}

.unavailable:hover {
  background-color: darkred;
  cursor: not-allowed;
}

.selected {
  background-color: #1877f2;
}

.selected:hover {
  background-color: #0556bf;
}
/* Media queries */
@media (max-width: 1200px) {
  .schedule {
    width: 900px;
  }

  .turnos-container {
    margin: auto;
    padding: 0px 50px;
  }
}

@media (max-width: 992px) {
  .schedule {
    width: 700px;
  }

  .turnos-container {
    margin: auto;
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 30px;
  }

  .schedule {
    width: 100%;
  }

  .time-slot {
    width: 60px;
    height: 45px;
  }

  .button {
    padding: 12px;
  }

  .turnos-container {
    margin: auto;
    padding: 0px 20px;
  }
}

@media (max-width: 576px) {
  main {
    padding: 20px;
  }

  .turnos-container {
    margin: auto;
    padding: 0px 20px;
  }

  .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .schedule {
    width: 100%;
  }

  .time-slot {
    width: 50px;
    height: 40px;
  }

  .button {
    padding: 10px;
  }

  .flex i {
    display: none;
  }
}
