<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediConnect</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-menu">
                <a class="navbar-brand" href="#"><img src="/img/Isologo.png" alt="logo" height="60"></a>
                
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle dropdown-toggle" href="#" aria-expanded="false">Consultas médicas</a></li>
                        <li class="nav-item dropdown" ><a class="nav-link dropdown-toggle dropdown-toggle" href="#" aria-expanded="false">Salud mental</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle dropdown-toggle" href="#" aria-expanded="false">Emergencias</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Card for User Profile -->
                <div class="card">
                    <img src="/img/myselfImg.png" class="card-img-top" alt="Profile Picture">
                    <div class="card-body text-center">
                     
                        <h5 class="card-title">Nombre, Apellido</h5>
                        <p class="card-text">Descripción breve del usuario. Puede incluir detalles como la ocupación, intereses, etc.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- User Details -->
                <div class="card">
                    <div class="card-header">
                        Informacion del perfil
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Detalles del Perfil</h5>
                        <p class="card-text"></p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Correo Electrónico:</strong> usuario@example.com</li>
                            <li class="list-group-item"><strong>Teléfono:</strong> +123 456 7890</li>
                            <li class="list-group-item"><strong>Ubicación:</strong> Ciudad, País</li>
                        </ul>
                    </div>
                </div>
                <!-- Recent Activities or Posts -->
                <div class="card mt-4">
                    <div class="card-header">
                        Mis Turnos
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Turno 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Turno 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Turno 3</a>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        Mis Estudios
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Estudio 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Estudio 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Estudio 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-contenedor">
        <div class="footer-izquierda">
          <h3>Consultorios <span>MediConnect</span></h3>
          <p class="footer-links">
            <a href="#">Home</a>
            <a href="#">Perfil</a>
            <a href="#">Personal Medico</a>
          </p>
    
          <p class="footer-derechos">Copyright © 2024 <strong>MediConnect</strong>
            Todos los derechos reservados.</p>
        </div>
    
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>San Justo, La Matanza</span>
              Argentina</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+54 11 6123-4567</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#">mediconnect@gmail.com</a></p>
          </div>
        </div>
    
        <div class="footer-derecha">
          <p class="footer-acerca-de-compañia">
            <span>Acerca de la Clínica</span>
            <strong>En MediConnect, nos dedicamos a brindar atención médica de calidad y personalizada para todas las
              necesidades de salud de nuestra comunidad. Fundada en 1994, nuestra clínica se ha
              establecido como un referente en el cuidado integral del paciente, combinando tecnología de
              vanguardia con un equipo de profesionales altamente calificados.</strong>
          </p>
        </div>
      </footer>
    

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>